.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: auto;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 10px;
}

.content main .bottom-data .orders table tbody tr{
    
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.tambah {
    background: var(--primary);
    padding: 6px 16px;
    color: #fff;
    border-radius: 24px;
    font-weight: 700;
}

.tambah i {
    margin-right: 7px;
    font-size: 1.2rem;
}
.tambah a {
    color: #fff;
}

.content main .bottom-data .order .header .tambah .plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .bottom-data .order .header .tambah .plus.completed {
    background: var(--primary)
}

.content main .bottom-data .orders table tr td .status{
    font-size: 15px;
    padding: 6px 16px;
    color: #fff;
    border-radius: 20px;
    font-weight: 700;
}
.content main .bottom-data .orders table tr td .status.completed{
    background-color: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.content main .bottom-data .orders table tr th, .content main .bottom-data .orders table tr td {
    text-align: center;
}


.content main .bottom-data .orders table tr th, .content main .bottom-data .orders table tr td {
    text-align: center;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit .status{
    display: flex;
    align-items: center;
}

.edit .bx {
    font-size: 1.2rem;
    margin-right: 4px;
}

.keterangan.terlaksana {
    font-weight: 700;
    color: var(--success);
}

.keterangan.terjadwal {
    font-weight: 700;
    color: #d59e12;
}

/* Filter dropdown */

.content main .bottom-data .header .filter-dropdown {
    display: flex;
    align-items: center;
    margin-left: 0;
}

.content main .bottom-data .header .filter-dropdown select {
    background: var(--grey);
    border: none;
    font-size: 17px;
    color: var(--dark);
    cursor: pointer;
    width: 75px;
    text-align: center;
    border-radius: 6px;
}

.content .orders .header .filter-dropdown select {
    display: none;
}

.content .orders .header .filter-dropdown.active select {
    display: block;
    margin-right: 5px;
}

.content .pagination {
    display: flex;
    align-items: center;
    margin-top: 12px;
    align-items: center;
    justify-content: left;
}

.content .pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 5px;
    color: var(--light-grey);
    margin: 0 10px;
}

.content .pagination button:disabled {
    color: var(--dark-grey);
    cursor: not-allowed;
}

#prev-page, #next-page {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 4px;
}

@media screen and (max-width: 1075px) {
    .content main .bottom-data .orders table{
        width: 80vw;
    }

}

@media screen and (max-width: 768px) {
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }
}