<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='admin/registrasi.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='admin/SideMenu_Navbar.css')}}" />
    <title>Admin | Registration</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="{{url_for('user_ep.dashboard')}}" class="logo">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo SmarTandance" />
        <div class="logo-name"><span>SmarTendance</span></div>
      </a>
      <ul class="side-menu">
        <li>
          <a href="{{url_for('user_ep.dashboard')}}"><i class="bx bxs-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="{{url_for('admin_ep.courses')}}"><i class="bx bxs-graduation"></i>Course</a>
        </li>
        <li class="active">
          <a href="{{url_for('admin_ep.add')}}"><i class="bx bx-group"></i>Registration</a>
        </li>
        <li>
          <a href="{{url_for('admin_ep.classes')}}"><i class="bx bxs-door-open"></i>Class</a>
        </li>
        <li>
          <a href="{{url_for('admin_ep.view_attendance')}}"><i class="bx bx-data"></i>Attendance Logs</a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#" class="logout" id="logout-button" data-logout-url="{{url_for('user_ep.logout')}}">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
          <div class="confirmation-modal" id="confirmation-modal">
            <div class="modal-content">
              <h2>Logout Confirmation</h2>
              <p>You sure want to logout?</p>
              <div class="modal-buttons">
                <button id="confirm-logout">Yes</button>
                <button id="cancel-logout">No</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input" style="display: none;">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"> </label>
        <a href="#" class="profile">
          <img src="{{url_for('static', filename='images/profile_logo.png')}}" />
        </a>
      </nav>
      <!-- End of Navbar -->

      <main>
        <div class="header">
          <div class="left">
            <h1>Registration</h1>
            <ul class="breadcrumb">
              <li><a href="#" class="active">Registration</a></li>
              /
            </ul>
          </div>
          <div class="show-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == "success" %}
                    <span class="alert alert-success" role="alert" style="background-color: rgb(209,231,221); border-radius: 10px; text-align: left; padding: 10px;"
                    >
                      {{message}}
                    </span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>

        <!-- Insights -->
        <ul class="insights">
          <a href="{{url_for('admin_ep.add_student')}}" class="regisBar">
            <li>
              <i class="bx bx-group"></i><br />
              <span class="info">
                <h3 class="info">Student Account Registration</h3>
              </span>
            </li>
          </a>
          <a href="{{url_for('admin_ep.add_lecturer')}}" class="regisBar">
            <li>
              <i class="bx bxs-user"></i><br />
              <span class="info">
                <h3 class="info">Lecturer Account Registration</h3>
              </span>
            </li>
          </a>
          <a href="{{url_for('admin_ep.add_course')}}" class="regisBar">
            <li>
              <i class="bx bxs-graduation"></i><br />
              <span class="info">
                <h3 class="info">Course Registration</h3>
              </span>
            </li>
          </a>
        </ul>
      </main>
    </div>
    <script src="{{url_for('static', filename='admin/index.js')}}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.body.classList.add("dark");
          toggler.checked = true;
        }
      });
    </script>
  </body>
</html>
