.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}


.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: auto;
    margin-bottom: 10px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 7px;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .bottom-data .orders table tr td .status{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 6px 16px;
    color: #fbfbfb;
    border-radius: 20px;
    font-weight: 700;
    margin: 0 4%;
}

.content main .bottom-data .orders table tr td .status .bx {
    font-size: 1.4rem;
    margin-right: 4px;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.delete{
    background: var(--danger);
}

.content main .bottom-data .orders table tr th, .content main .bottom-data .orders table tr td {
    text-align: center;
}

/* filter */
.content main .bottom-data .header .filter-dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.content main .bottom-data .header .filter-dropdown select {
    background: var(--grey);
    border: none;
    font-size: 17px;
    color: var(--dark);
    cursor: pointer;
    width: 75px;
    text-align: center;
    border-radius: 6px;
}

/* Filter untuk tabel mahasiswa dan tabel dosen */
.content .orders .header .filter-dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.content .orders .header .filter-dropdown select {
    background: none;
    border: none;
    font-size: 14px;
    color: var(--dark);
    cursor: pointer;
}

.content .orders .header .filter-dropdown select {
    display: none;
}

.content .orders .header .filter-dropdown.active select {
    display: block;
    margin-right: 5px;
}

.content .pagination {
    display: flex;
    align-items: center;
    margin-top: 12px;
    align-items: center;
    justify-content: left;
}

.content .pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 5px;
    color: var(--light-grey);
    margin: 0 10px;
}

.content .pagination button:disabled {
    color: var(--dark-grey);
    cursor: not-allowed;
}

#mahasiswa-prev-page, #mahasiswa-next-page, #dosen-prev-page, #dosen-next-page {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 4px;
}

/* CSS untuk Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: var(--grey);
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(68, 68, 68);
    text-decoration: none;
    cursor: pointer;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-size: 16px;
    color: var(--dark);
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    color: var(--dark);
    background-color: var(--grey);
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button.cancel {
    background-color: #f44336;
  }
  
  button.update:hover {
    background-color: #45a049;
  }
  
  /* Tambahkan CSS untuk mengatur tombol "Batal" */
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  /* Atur ulang warna tombol "Batal" dan "Update" */
  button.cancel,
  button.update {
    width: 48%;
  }
  
  button.cancel:hover,
  button.update:hover {
    opacity: 0.9;
  }
@media screen and (max-width: 768px) {
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    .content main .insights{
        display: grid;
        grid-template-columns: repeat(auto, minmax(150px, 1fr));
        grid-gap: 15px;
        margin-top: 60px;
    }
    
    .content main .insights li{
        padding: 18px;
        border-radius: 17px;
        grid-gap: 15px;
    }
    
    .content main .insights li .bx{
        font-size: 28px;
        height: 60px;
        max-width: 60px;
        min-width: 60px;
    }
    
    .content main .insights li .info h3{
        font-size: 18px;
        font-weight: 500;
    }
    
    .content main .bottom-data .header{
        min-width: 200px;
    }

    .content main .bottom-data .orders table{
        min-width: 200px;
    }
}