<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lecturer/rekap_absen_dsn.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='lecturer/SideMenu_Navbar.css')}}"
    />
    <title>Lecturer Attendance Recap</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="#" class="logo">
        <img
          src="{{url_for('static', filename='images/logo.png')}}"
          alt="Logo SmarTandance"
        />
        <div class="logo-name"><span>Smartendance</span></div>
      </a>
      <ul class="side-menu">
        <li>
          <a href="{{url_for('user_ep.dashboard')}}"
            ><i class="bx bxs-dashboard"></i>Dashboard</a
          >
        </li>
        <li class="active">
          <a href="{{url_for('lecturer_ep.view_lecturer_logs')}}"
            ><i class="bx bx-data"></i>My Attendance Logs</a
          >
        </li>
        <li>
          <a href="{{url_for('lecturer_ep.view_student_data')}}"
            ><i class="bx bx-data"></i>Student Attendance</a
          >
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a
            href="#"
            class="logout"
            id="logout-button"
            data-logout-url="{{url_for('user_ep.logout')}}"
          >
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
          <div class="confirmation-modal" id="confirmation-modal">
            <div class="modal-content">
              <h2>Logout Confirmation</h2>
              <p>You sure want to logout?</p>
              <div class="modal-buttons">
                <button id="confirm-logout">Yes</button>
                <button id="cancel-logout">No</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"> </label>
        <a href="#" class="profile">
          <img
            src="{{url_for('static', filename='images/profile_logo.png')}}"
          />
        </a>
      </nav>

      <!-- End of Navbar -->

      <main>
        <div class="header">
          <div class="left">
            <h1>My Attendance Logs</h1>
            <ul class="breadcrumb">
              <li><a href="" class="active">My Attendance Logs</a></li>
              /
            </ul>
          </div>
        </div>

        <div class="select-box">
          <!-- Course selection -->
          <label for="select-course">Select your course</label>
          <select name="course" id="select-course">
            <option value="" selected>-- All --</option>
            {% for course in courses %}
            <option value="{{ course.course_id }}" id="{{ course.course_id }}">
              {{ course.course_name }}
            </option>
            {% endfor %}
            <!-- End of loop -->
          </select>
          <!-- End of selection course -->
        </div>

        <!-- Tabel Course Terdaftar -->
        <div class="bottom-data">
          <div class="orders">
            <div class="header">
              <i class="bx bx-calendar"></i>
              <h3>My Attendance Logs</h3>
              <div class="filter-dropdown">
                <select id="data-filter">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
                <i class="bx bx-filter"></i>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Course</th>
                  <th>Room</th>
                  <th>Time In</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <!-- The table data will automatically get injected from JS after request to the server is done. -->
              </tbody>
            </table>
            <div class="pagination">
              <button id="prev-page" disabled>
                <i class="bx bx-chevrons-left"></i>
              </button>
              <span id="current-page">Page 1</span>
              <button id="next-page">
                <i class="bx bx-chevrons-right"></i>
              </button>
              <!-- export button -->
              <div class="export">
                <i class="bx bx-export"></i>
                <a href="" class="status ekspor" id="export-btn">Export </a>
              </div>
              <!-- end of export button -->
            </div>
          </div>
          <!-- end -->
        </div>
      </main>
    </div>
    <script src="{{url_for('static', filename='admin/index.js')}}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.body.classList.add("dark");
          toggler.checked = true;
        }
      });

      const searchButtons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn"
      );
      const searchButtonIcons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn .bx"
      );
      const searchInputs = document.querySelectorAll(
        ".bottom-data .orders .header .search-input"
      );

      searchButtons.forEach((searchButton, index) => {
        const searchButtonIcon = searchButtonIcons[index];
        const searchInput = searchInputs[index];

        searchButton.addEventListener("click", function (e) {
          e.preventDefault();
          searchInput.classList.toggle("show");

          if (searchInput.classList.contains("show")) {
            searchButtonIcon.classList.replace("bx-search", "bx-x");
            searchInput.focus(); // Fokuskan input textfield setelah ditampilkan
          } else {
            searchButtonIcon.classList.replace("bx-x", "bx-search");
          }
        });
      });

      // filter & pagination
      const filterIcon = document.querySelector(".header .filter-dropdown i");
      const filterDropdown = document.querySelector(".header .filter-dropdown");
      const dataFilterSelect = document.getElementById("data-filter");
      const tableRows = document.querySelectorAll(
        ".bottom-data .orders table tbody tr"
      );
      const prevPageButton = document.getElementById("prev-page");
      const nextPageButton = document.getElementById("next-page");
      const currentPageSpan = document.getElementById("current-page");

      let currentPage = 1;
      let itemsPerPage = parseInt(dataFilterSelect.value);

      function updatePagination() {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        currentPageSpan.textContent = `Page ${currentPage}`;

        if (currentPage === 1) {
          prevPageButton.disabled = true;
        } else {
          prevPageButton.disabled = false;
        }

        if (currentPage === totalPages) {
          nextPageButton.disabled = true;
        } else {
          nextPageButton.disabled = false;
        }

        tableRows.forEach((row, index) => {
          if (
            index >= (currentPage - 1) * itemsPerPage &&
            index < currentPage * itemsPerPage
          ) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
      }

      filterIcon.addEventListener("click", function () {
        filterDropdown.classList.toggle("active");
      });

      dataFilterSelect.addEventListener("change", function () {
        itemsPerPage = parseInt(dataFilterSelect.value);
        currentPage = 1;
        updatePagination();
      });

      prevPageButton.addEventListener("click", function () {
        if (currentPage > 1) {
          currentPage--;
          updatePagination();
        }
      });

      nextPageButton.addEventListener("click", function () {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        if (currentPage < totalPages) {
          currentPage++;
          updatePagination();
        }
      });

      updatePagination();

      // Function to change the href link of export-btn
      function exportAttendanceData(selectedCourse) {
        const exportBtn = document.getElementById("export-btn");
        if (selectedCourse) {
          exportBtn.href = `{{url_for('lecturer_ep.export_lecturer_attendance')}}?course_id=${selectedCourse}`;
        } else {
          exportBtn.href = `{{url_for('lecturer_ep.export_lecturer_attendance')}}`;
        }
      }

      function getAttendanceData(selectedCourse) {
        // If admin select course, then fetch the data with course_id query parameter
        if (selectedCourse) {
          const apiURL = `{{url_for('lecturer_ep.get_lecturer_logs')}}?course_id=${selectedCourse}`;

          fetch(apiURL)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              // Panggil fungsi untuk mengisi tabel dengan data
              populateTable(data.logs, selectedCourse);
            })
            .catch((error) => {
              console.error(error);
            });
        } else {
          const apiURL = `{{url_for('lecturer_ep.get_lecturer_logs')}}`;

          fetch(apiURL)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              // Panggil fungsi untuk mengisi tabel dengan data
              populateTable(data.logs);
            })
            .catch((error) => {
              console.error(error);
            });
        }
      }

      // Fungsi untuk mengisi tabel dengan data absensi
      function populateTable(attendanceData) {
        const tableBody = document.querySelector(
          ".bottom-data .orders table tbody"
        );
        tableBody.innerHTML = "";

        if (attendanceData.length === 0) {
          const newRow = document.createElement("tr");
          const rowData = `<td colspan="6" style="text-align: center;">No attendance logs found</td>`;
          newRow.innerHTML = rowData;
          tableBody.appendChild(newRow);
        } else {
          attendanceData.forEach((rowData) => {
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
              <td>${rowData.name}</td>
              <td>${rowData.course}</td>
              <td>${rowData.room}</td>
              <td>${rowData.time_in}</td>
              <td>${rowData.status}</td>
            `;
            tableBody.appendChild(newRow);
          });
        }
      }

      // Function to handle change event of input radio (role)
      function handleSelectionChange() {
        const selectedCourse = document.getElementById("select-course").value;

        getAttendanceData(selectedCourse);

        // Change the href link of export-btn
        exportAttendanceData(selectedCourse);
        console.log("Selected Course:", selectedCourse);
        // Fetch the attendance logs data
      }

      function showAttendanceData() {
        const inputCourse = document.getElementById("select-course");
        inputCourse.addEventListener("change", handleSelectionChange);
        getAttendanceData();
        exportAttendanceData();
      }

      showAttendanceData();
    </script>
  </body>
</html>
