@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #181a1e;
    --grey: #25252c;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --dark-grey: #AAAAAA;
    --dark: #fbfbfb;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --dark-select: #2f3640;
    --select-hover: #414b57;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #f6f6f9;
    --grey: #e4e4e4;
    --dark: #363949;
    --dark-select: #c4c2c2;
    --select-hover: #a2a1a1;
}

body{
    background: var(--grey);
    overflow-x: hidden;
    
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    margin-top: 10px;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
    transition: all 0.3s ease;
}

.sidebar .logo img {
    width: 85px;
    transition: all 0.3s ease;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 65px;
    transition: all 0.3s ease;
}

.sidebar.close .side-menu{
    width: 100%;
    margin-top: 33px;
    transition: all 0.3s ease;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li a:hover{
    margin-left: 0.25rem;
}

.sidebar .side-menu li.active a{
    color: var(--primary);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar.close .logo .logo-name, .sidebar.close .logo .logo-name span {
    color: var(--light);
    transition: all 0.3s ease;
}

.sidebar.close .logo img {
    width: 45px;
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}


.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

/* CSS untuk modal konfirmasi */
.confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
  }
  
  .modal-content {
    background: var(--light);
    color: var(--dark);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }

  .modal-content p {
    margin-bottom: 10px;
  }

  .modal-buttons button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 15px;
  }

  #confirm-logout {
    background-color: var(--success);
    transition: 0.3s;
  }

  #confirm-logout:hover {
    background-color: #29722d;
  }

  #cancel-logout {
    background-color: var(--danger);
    transition: 0.3s;
  }

  #cancel-logout:hover {
    background-color: #b12121;
  }
  
  .confirmation-modal.active {
    display: flex;
  }
  
  .confirmation-modal.active .modal-content {
    transform: scale(1.3);
    opacity: 1;
  }

  
    .search-input {
        display: none;
    }
  
    .search-input.show {
        display: inline-block;
        background-color: var(--grey);
        padding: 0 16px;
        height: 100%;
        border: none;
        border-radius: 36px 5px 5px 36px;
        outline: none;
        width: 20%;
        min-width: 225px;
        color: var(--dark);
    }
    
    .search-btn {
        background: transparent;
        color: var(--dark);
        border: none;
    }

    /* CSS untuk tampilan Scroll Bar */
    ::-webkit-scrollbar {
        width: 10px; 
        background-color: #d8d8d8;
        border-radius: 5px;
      }
    
    ::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 5px; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }


@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {

    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.profile{
        display: none;
    }

    .confirmation-modal.active .modal-content {
        transform: scale(1);
      }

}